body {
  font-family: 'Comfortaa', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;

  color: white;
  background-color: #282828;
  background-image: url('../images/background.png');
  background-repeat: repeat;
  background-position: bottom center;
}

::selection {
  color: #282828;
  background: #fff;
}

.content {
  width: 70vw;
  height: 100vh;
  margin: 70px auto 20px auto;
  padding: 10px;
  border: 2px solid #515151;
  border-radius: 20px;
  background-color: #282828;
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  font-family: 'Audiowide', sans-serif;
  font-size: 4vw;
  margin: 0;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
}

.icon {
  filter: invert(100%);
}
