---
---

<!DOCTYPE html>
<html class="file" lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/icon.svg">
    <link href="css/navbar.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/footer.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Comfortaa&display=swap" rel="stylesheet">
    <title>{{ site.title }}</title>
  </head>

  <body>
    {% include navbar.html %}

    <div class="content">
      <h1 class="title">Super Laser Cat</h1>
    </div>

    {% include footer.html %}
  </body>

</html>
