html,
body {
  font-family: 'Comfortaa', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

::selection {
  color: #282828;
  background: #fff;
}

.navigation {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  user-select: none;
  background-color: #282828;
  box-shadow: 0 0 30px #282828;
}

.navigation li {
  float: right;
  flex-wrap: nowrap;
}

.navigation li a {
  display: table-cell;
  height: 50px;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: white;
}

.navigation .nav-title {
  font-family: 'Audiowide', sans-serif;
  font-size: 1.5em;
  float: left;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px #000;
}

.navigation .nav-title .nav-title-a {
  padding: 0;
}

@media (min-width: 683px) {
  .navigation .nav-title .nav-title-a span {
    vertical-align: middle;
  }
}

@media (max-width: 682px) {
  .navigation .nav-title .nav-title-a span {
    display: none !important;
  }
}

.navigation .nav-title .nav-title-a img {
  height: 40px;
  padding: 5px 0 5px 5px;
  vertical-align: middle;
}

.main {
  color: white;
  background-color: #282828;
  background-image: url('images/background.png');
  background-repeat: repeat;
  background-position: bottom center;
}

.content {
  width: 70vw;
  height: 100%;
  margin: 70px auto 20px auto;
  padding: 10px;
  border: 2px solid #515151;
  border-radius: 20px;
  background-color: #282828;
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  font-family: 'Audiowide', sans-serif;
  font-size: 4vw;
  margin: 0;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
}

.icon {
  filter: invert(100%);
}

footer {
  height: 84px;
  background-image: url('images/background_bottom.png');
  background-repeat: repeat-x;
  background-position: bottom center;
}

footer span {
  line-height: 42px;
  display: block;
  padding-top: 42px;
  user-select: none;
  text-align: center;
  text-shadow: 2px 2px 3px #282828;
}
