body {
  font-family: 'Comfortaa', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #282828;
  background-image: url('../images/background.png');
  background-repeat: repeat;
  background-position: bottom center;
}

::selection {
  color: #282828;
  background: #fff;
}

.home {
  height: calc(100vh - 84px);
}

.home img {
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 250px);
}

.content {
  height: calc(100vh - 84px);
  margin: 70px auto 20px auto;
  padding: 10px;
  border: 2px solid #515151;
  border-radius: 20px;
  background-color: #282828;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width:320px) {
  .content {
    width: 90vw;
  }
}

@media (min-width:481px) {
  .content {
    width: 80vw;
  }
}

@media (min-width:641px) {
  .content {
    width: 70vw;
  }
}

@media (min-width:961px) {
  .content {
    width: 60vw;
  }
}

@media (min-width:1025px) {
  .content {
    width: 50vw;
  }
}

@media (min-width:1281px) {
  .content {
    width: 40vw;
  }
}

.title {
  font-family: 'Audiowide', sans-serif;
  font-size: 4vw;
  margin: 0;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
}
